
.btn.btn-default{
    background: gray;
    color: #000;
}
.btn.btn-primary{
    background: blueviolet;
    color: #fff;
}
.btn.btn-danger{
    background: red;
    color: #fff;
}
.btn.btn-success{
    background: green;
    color: #fff;
}